
mobileMedia = "screen and (max-width: 767px)"
tabletMedia = "screen and (min-width: 768px) and (max-width: 991px)"
laptopMedia = "screen and (min-width: 992px) and (max-width: 1199px)"
handheldMedia = "screen and (max-width: 991px)"
desktopMedia = "screen and (min-width: 1200px)"
tinyMedia = "screen and (max-width: 450px)"